body {
  background-color: antiquewhite;

}


/* index.css */

.loading-message,
.error-message {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

.loading-message {
  color: #007bff; /* Adjust color as desired */
}

.error-message {
  color: #ff0000; /* Adjust color as desired */
}


